<!DOCTYPE html>
{% load static %}
    {% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'minor/style.css' %}">
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html lang="en">
<head>
    <title>Caropidea</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />

        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="telephone=no" name="format-detection" />
        <meta name="HandheldFriendly" content="true" />
        <link rel="stylesheet" href="{% static 'assets/css/master.css' %}" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header"><h1 align="center">
      <a class="mr-3" href="#myPage" >CAROPIdea</a></h1>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
      </ul>
    </div>
</nav>

   <!-- Main Slider -->
    <div class="main-slider main-slider-2" style="margin:auto;">
					<div class="slider-pro"  id="main-slider" data-slider-width="99%" data-slider-height="500px" data-slider-arrows="true" data-slider-buttons="false">
						<div class="sp-slides">
							<!-- Slide 1-->
							<div class="sp-slide">
								<img class="sp-image" width="42"  src="{% static 'assets/media/components/b-main-slider/2.jpg' %}" alt="slider" />
								<div class="main-slider__wrap sp-layer" data-width="40%" data-position="centerLeft" data-horizontal="0" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400">
									<div class="main-slider__title">BMW<span class="main-slider__title-number text-primary">7</span>series<span class="main-slider__label">model 2018</span>
									</div>
									<div class="main-slider__price"><span class="main-slider__price-currency">$</span><span class="main-slider__price-number">375</span><span class="main-slider__price-inner"><span class="main-slider__price-title">Monthly</span><span class="main-slider__price-subtitle">Lowest Markup</span></span>
									</div><a class="main-slider__btn btn btn-lg btn-primary" href="{% url 'about' %}">Wanna Know more..?</a>
								</div>
							</div><!-- Slide 2-->
							<div class="sp-slide">
								<img class="sp-image" src="{% static 'assets/media/components/b-main-slider/1.jpg' %}" alt="slider" />
								<div class="main-slider__wrap sp-layer" data-width="40%" data-position="centerLeft" data-horizontal="0" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400">
									<div class="main-slider__title">BMW<span class="main-slider__title-number text-primary">7</span>series<span class="main-slider__label">model 2018</span>
									</div>
									<div class="main-slider__price"><span class="main-slider__price-currency">$</span><span class="main-slider__price-number">375</span><span class="main-slider__price-inner"><span class="main-slider__price-title">Monthly</span><span class="main-slider__price-subtitle">Lowest Markup</span></span>
									</div><a class="main-slider__btn btn btn-lg btn-primary" href="{% url 'about' %}">learn more</a>
								</div>
							</div>
						</div>
					</div>
</div>
<!-- end .main-slider-->
<div class="info--bg_dark block-table block-table_md">
        <div class="info-group__section-bg_dark col-md-6">
          <section class="b-info b-info_mod-a area-bg area-bg_op_80 area-bg_prim parallax" style="background-image: url{% static 'assets/media/content/bg/bg-4.jpg' %}">
           <div class="area-bg__inner">
                <h2 class="b-info__title">Are You Looking<strong class="b-info__title_lg">TO BUY A CAR?</strong></h2>
                  <div class="b-info__desc">Caropidea is nisi aliquip exa con velit esse cillum dolore fugiatal sint occaecat excepteur ipsum dolor sit amet consectetur.</div><a class="btn btn-white" href="{% url 'NormalUser:index' %}">search your car</a>
                  </div>
          </section>
        </div>
        <div class="info-group__section col-md-6">
            <section class="b-info b-info_mod-b area-bg area-bg_op_80 area-bg_dark-2 parallax" style="background-image: url{% static 'assets/media/content/bg/bg-3.jpg' %}">
                <div class="area-bg__inner">
                    <h2 class="b-info__title">Do You Want To<strong class="b-info__title_lg">SELL YOUR CAR?</strong></h2>
                    <div class="b-info__desc">MotorLand is nisi aliquip exa con velit esse cillum dolore fugiatal sint occaecat excepteur ipsum dolor sit amet consectetur.</div><a class="btn btn-white" href="{% url 'BusinessUser:index' %}">let us know</a>
                </div>
            </section>
        </div>
    </div>
            <!-- end .b-info-group-->
    <div class="section-default">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="b-progress-list js-progress-list list-unstyled">
                                <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent js-chart" data-percent="3874"><span class="js-percent"></span><span></span></span><span class="b-progress-list__name">Vehicles Stock</span>
                                </li>
                                <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent js-chart" data-percent="299"><span class="js-percent"></span><span>+</span></span><span class="b-progress-list__name">dealers served</span>
                                </li>
                                <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent js-chart" data-percent="6403"><span class="js-percent"></span><span></span></span><span class="b-progress-list__name">Happy Customers</span>
                                </li>
                                <li class="b-progress-list__item clearfix"><span class="b-progress-list__percent js-chart" data-percent="1450+"><span class="js-percent"></span><span>+</span></span><span class="b-progress-list__name">vehicles on sale</span>
                                </li>
                            </ul>
                            <!-- end .b-progress-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end .section-default-->
               <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="b-about__inner">
                                <h2 class="ui-title-block">About Caropidea</h2>
                                <div class="ui-subtitle-block">Tempor incididunt duis labore dolore magna aliqua sed ipsum</div>
                                <div class="ui-decor"></div>
                                <div class="b-about-main">
                                    <div class="b-about-main__title">We are a Trusted Name in Auto Industry</div>
                                    <div class="b-about-main__subtitle">Visited by Million of Car Buyers Every Month!</div>
                                    <p>Caropidea is aliquip exd ea consequat duis lorem ipsum dolor sit amet consectetur dipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.</p>
                                    <p>Slamco laboris nisi ut aliquip ex ea comdo consequat uis aute irure dolor raeprehenderit voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                    <div class="b-about-main__btns"><a class="btn btn-dark" href="home.html">Our partners</a><a class="btn btn-primary" href="home.html">learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <ul class="b-about-list list-unstyled">
                                <li class="b-about-list__item"><i class="b-about-list__icon flaticon-travel"></i>
                                    <div class="b-about-list__inner">
                                        <div class="b-about-list__title">10 Years in Business</div>
                                        <div class="b-about-list__info">Caropidea is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.</div>
                                        <div class="ui-decor-2"></div>
                                    </div>
                                </li>
                                <li class="b-about-list__item"><i class="b-about-list__icon flaticon-handshake"></i>
                                    <div class="b-about-list__inner">
                                        <div class="b-about-list__title">Trusted by Auto Buyers</div>
                                        <div class="b-about-list__info">Caropidea is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.</div>
                                        <div class="ui-decor-2"></div>
                                    </div>
                                </li>
                                <li class="b-about-list__item"><i class="b-about-list__icon flaticon-transport"></i>
                                    <div class="b-about-list__inner">
                                        <div class="b-about-list__title">Affordable Auto Prices</div>
                                        <div class="b-about-list__info">Caropidea is nisi aliquip ea consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat.</div>
                                        <div class="ui-decor-2"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end .b-about-->
            </section>

</div>
<!-- end .section-default-->
            <footer class="footer area-bg">
                <div class="area-bg__inner">
                    <div class="footer__main">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="footer-section">
                                        <a class="footer__logo" href="home.html">
                                            <img class="img-responsive" src="assets/media/general/logo.png" alt="Logo" />
                                        </a>
                                        <div class="footer__info">Duis aute irure reprehend voluptate velit ese acium fugiat nula pariatur exceptus ipsum dolor sit amet consectetur adipisic elita sed eiusmod tempor.</div>
                                        <ul class="social-net list-inline">
                                            <li class="social-net__item"><a class="social-net__link text-primary_h" href="facebook.html"><i class="icon fa fa-facebook"></i></a>
                                            </li>
                                            <li class="social-net__item"><a class="social-net__link text-primary_h" href="twitter.html"><i class="icon fa fa-twitter"></i></a>
                                            </li>
                                            <li class="social-net__item"><a class="social-net__link text-primary_h" href="linkedin.html"><i class="icon fa fa-linkedin"></i></a>
                                            </li>
                                            <li class="social-net__item"><a class="social-net__link text-primary_h" href="instagram.html"><i class="icon fa fa-instagram"></i></a>
                                            </li>
                                            <li class="social-net__item"><a class="social-net__link text-primary_h" href="youtube.html"><i class="icon fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>
                                        <!-- end .social-list-->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <section class="footer-section footer-section_list-columns">
                                        <h3 class="footer-section__title ui-title-inner">Top Brands</h3>
                                        <ul class="footer-list footer-list_columns list-unstyled">
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Alfa Romeo</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Ferrari</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">BMW Series</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Mercedes</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Aston Martin</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Toyota</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Opel</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Land Rover</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Mclaren</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Peogeot</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Renault</a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="col-md-2">
                                    <section class="footer-section footer-section_list-one">
                                        <h3 class="footer-section__title ui-title-inner">Categories</h3>
                                        <ul class="footer-list list-unstyled">
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Trucks</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Sports Cars</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Crossovers</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Hybrid Cars</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Hybrid SUVs</a>
                                            </li>
                                            <li class="footer-list__item"><a class="footer-list__link" href="about.html">Future Cars</a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="col-md-3">
                                    <section class="footer-section">
                                        <h3 class="footer-section__title ui-title-inner">Address Information</h3>
                                        <div class="footer-contact footer-contact_lg">Call us<span class="text-primary"> (042) 789 35490</span>
                                        </div>
                                        <div class="footer-contact"><i class="icon icon-xs fa fa-envelope-o"></i>support@motorland.com</div>
                                        <div class="footer-contact"><i class="icon icon-lg fa fa-map-marker"></i>Fairview Ave, El Monte, CA, 91732</div>
                                        <div class="footer-contact"><i class="icon fa fa-clock-o"></i>Mon - Fri : 0900am to 0600pm</div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">Copyrights 2017<a class="copyright__brand" href="home.html"> MOTORLAND</a> All Rights Reserved<a class="copyright__link" href="privacy-policy.html">Privacy Policy</a><a class="copyright__link" href="terms-of-use.html">Terms & Conditions</a>
                                </div>
                            </div>
                        </div>
                    </div><span class="btn-up" id="toTop">TOP</span>
                </div>
            </footer>
            <!-- .footer-->
</div>
<script src="{% static 'assets/libs/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery-migrate-1.2.1.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static 'assets/plugins/headers/slidebar.js' %}"></script>
<script src="{% static 'assets/plugins/headers/header.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/plugins/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'assets/plugins/contact_me.js' %}"></script>
<script src="{% static 'assets/plugins/isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/plugins/isotope/imagesLoaded.js' %}"></script>
<script src="{% static 'assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'assets/plugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
<script src="{% static 'assets/plugins/noUiSlider/nouislider.min.js' %}"></script>
<script src="{% static 'assets/plugins/noUiSlider/wNumb.js' %}"></script>
<script src="{% static 'assets/plugins/scrollreveal/scrollreveal.min.js' %}"></script>
<script src="{% static 'assets/plugins/slider-pro/jquery.sliderPro.min.js' %}"></script>
</body>
</html>

